[Unit]
Description=Hbnb_Start
After=network.target

[Service]
Environment=HBNB_MYSQL_USER=hbnb_dev HBNB_MYSQL_PWD=hbnb_dev_pwd HBNB_MYSQL_HOST=localhost HBNB_MYSQL_DB=hbnb_dev_db HBNB_TYPE_STORAGE=db
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=gunicorn --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --workers 3 --error-logfile /tmp/airbnb-api-error.log --access-logfile /tmp/airbnb-access.log
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target
